---
import MainLayout from "@/layouts/main.astro";
import { Button } from "@/components/ui/button";
import { homeContent } from "@/content/home";

const content = {
  title: "Shashank Shandilya - Senior Technical Lead & Developer",
  description: homeContent.hero.description,
};
---

<MainLayout content={content}>
  <div class="grid place-items-center h-screen content-center">
    <Button>Shadcn Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 underline">
      Markdown is also supported...
    </a>
  </div>
</MainLayout>

<script>
  import confetti from "canvas-confetti";
  const button = document.body.querySelector("button");

  if (button) {
    button.addEventListener("click", () => confetti());
  }
</script>
