---
import { homeContent } from "@/content/home";

const { marquee } = homeContent;
---

<div
    class="bg-neon-green border-b-4 border-black dark:border-white py-4 overflow-hidden whitespace-nowrap"
>
    <div class="inline-block animate-marquee font-mono font-bold text-xl">
        {marquee.text}
        {marquee.text}
    </div>
</div>
